

<form [formGroup]="filterForm">

    <div class="form-check form-check-inline">
        <div class="switch_box box_1">
            <input class="chk form-check-input switch_1" type="checkbox" id="switch-id" value="CMH" formControlName="chkCMH">
            <label class="form-check-label" for="inlineCheckbox1">CMH</label>
        </div>
    </div>
    <div class="form-check form-check-inline">
        <div class="switch_box box_1">
            <input class="chk form-check-input switch_1" type="checkbox" id="inlineCheckbox2" value="CTRL" formControlName="chkCTRL">
            <label class="form-check-label" for="inlineCheckbox2">CTRL</label>
        </div>
    </div>
    <div class="form-check form-check-inline">
        <div class="switch_box box_1">
            <input class="chk form-check-input switch_1" type="checkbox" id="inlineCheckbox3" value="SS"  formControlName="chkSS">
            <label class="form-check-label" for="inlineCheckbox3">SS</label>
        </div>
    </div>
    <div class="form-check form-check-inline">
        <div class="switch_box box_1">
            <input class="chk form-check-input switch_1" type="checkbox" id="inlineCheckbox4" value="EOL"  formControlName="chkEOL">
            <label class="form-check-label" for="inlineCheckbox3">EOL</label>
        </div>
    </div>
    
</form>