.form-group {
    margin: 5px;
}

label {
    font-size: 10px;
    font-weight: bolder; 
}

td, th {

    font-size: 0.6em;
}

input, textarea {
    
    width: 100%;
    padding: 1px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

::ng-deep .mat-option-text {
    font-size: 10px;
}