<div *ngIf="error" #alert class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong><mat-icon svgIcon="thumbs-down"></mat-icon></strong> {{error}}
</div>

<div *ngIf="success" #alert class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong><mat-icon svgIcon="thumbs-up"></mat-icon></strong> {{success}}
</div>




<button type="button" class="btn btn-outline-secondary btn-sm" (click)="isCollapsed = !isCollapsed"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">S/H header</button> <span>
<form [formGroup]="poForm">

  <div class="row scrollable" [ngbCollapse]="isCollapsed">
    <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-1">
            <div class="form-group">
                <mat-form-field>
                    <input matInput formControlName="id" placeholder="ID">
                  </mat-form-field>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="form-group">
                <mat-form-field>
                    <input placeholder="Choose a date" matInput formControlName="date_created" [matDatepicker]="picker" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Provider"  matInput [formControl]="providerCtrl" formControlName="provider" ngDefaultControl  [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let provider of providersO | async"
                      [value]="provider.contpaqId"
                      #tooltip="matTooltip"
                      matTooltipPosition="right"
                      matTooltip="{{provider.name}}" >
                        {{provider.name}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Currency" formControlName="currencyId" ngDefaultControl matInput  [matAutocomplete]="curr">
                    <mat-autocomplete #curr="matAutocomplete">
                      <mat-option *ngFor="let currency of currencies"
                        [value]="currency.id"
                        #tooltip="matTooltip"
                        matTooltipPosition="right"
                        matTooltip="{{ currency.name}}">
                        {{currency.name}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
              </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label for="buyer">Buyer</label>
              <input
                type="text"
                id="buyer"
                formControlName="buyer"
                readonly
                class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-xs-1">
            <div class="form-group">
              <label for="project">Project</label>
              <input
                type="text"
                id="project"
                formControlName="project"
                class="form-control form-control-sm">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="comments">Comments</label>
              <textarea
                type="text"
                id="comments"
                class="form-control form-control-sm"
                formControlName="comments"
                rows="6" cols="60"></textarea>
            </div>
          </div>
          <div class="col-xs-6">
              <div class="form-group">
                <label for="sos_included">CRMs included</label>
                <textarea
                  type="text"
                  id="sos_included"
                  class="form-control form-control-sm"
                  formControlName="sos_included"
                  rows="6" cols="20"></textarea>
              </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click) = "saveThisPO()"
                >Save</button>
              <button type="button" class="btn btn-danger" >Cancel</button>
              <button type="button" class="btn btn-warning" (click)="checkInventory()" *ngIf="(inventory != null)">Check inventory</button>
            </div>
          </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-12" ><!--  -->
      <table class="table table-striped" [dndList]
      [dndPlaceholder]="placeholder2"
      [dndModel]="po.lineItems"
      (dndInserted)="addItem()" 
      formArrayName="poLineItems"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Description</th>
            <th scope="col">Comments</th>
            <th scope="col">Cost</th>
            <th scope="col">OC</th>
          </tr>
        </thead>
        <tbody > 
          <!-- <tr *ngFor="let item of po.lineItems" [dndType]="'lineItem'" [dndDraggable] (dndMoved) = "removeItem(item)" [dndObject]="item" >
            <td style="width: 60px;" > {{item.quantity}} </td>
            <td >{{item.model}}</td> 
            <td style="width: 250px;">{{item.description}}</td>
            <td> {{item.comments}} </td>
            <td>{{item.cost}}</td>
            <td>{{ item.oc }}</td>
          </tr>-->
          
          <tr *ngFor="let item of poForm.controls.poLineItems['controls']; let j = index" [formGroupName]="j">
            <td style="width: 60px;" >
               <input
                  type="text"
                  id="quantity{{j}}"
                  class="form-control"
                  formControlName="quantity">
            </td>
            <td ><span *ngIf="lineItems[j]">{{ lineItems[j].model }}</span></td> 
            <td style="width: 250px;"><span *ngIf="lineItems[j]">{{ lineItems[j].description }}</span></td>
            <td>
                <textarea
                  type="text"
                  id="comments{{j}}"
                  class="form-control form-control-sm"
                  formControlName="comments"
                  rows="2" cols="30"></textarea>
              </td>
            <td><span *ngIf="lineItems[j]">{{ lineItems[j].cost }}</span></td>
            <td><span *ngIf="lineItems[j]">{{ lineItems[j].oc }}</span></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</form>
  <div class="dndPlaceholder col-md-12"
  #placeholder2></div>