.form-group {
    margin: 5px;
}

label {
    font-size: 10px;
    font-weight: bolder; 
}

td, th {

    font-size: 0.6em;
}

input, textarea {
    
    width: 100%;
    padding: 1px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 50%;
  }

::ng-deep .mat-option-text {
    font-size: 10px;
}

.k-pdf-export textarea {
    border: 0px solid white;
}

.k-pdf-export #buyer {
    border: 0px solid white;
}

.k-pdf-export button {
    display: none;
}

kendo-pdf-document button, kendo-pdf-document #project_id, kendo-pdf-document #crms_id {
    display: none;
}

::ng-deep .mat-input-wrapper{
    width:400px !important;
}

.extra-space {
    margin-left: 5px;
}

.txt-small {
    font-size: 10px;
}

.k-pdf-export #pdf-header {
    display: flex;
}

.k-pdf-export #pdf-header-2 {
    display: flex;
}

.k-pdf-export #pdf-footer {
    display: flex;
}

.k-pdf-export #header-screen {
    display: none;
}

.hidd {
    display: none;
}

.hidd2 {
    display: none;
}

.k-pdf-export .mat-input-element {
    width: 280px;
    font-size: 10px;
}