<div class="container-fluid backg ">
        
                <div class="row  justify-content-center " style="padding: 10px;">
                        
                        <div class="col-lg-3 col-md-3 border shadow" style="background: #fff;  opacity: 0.9; padding: 10px;">
                                <div class="page-header">
                                  <h1 class="text-center">Main Menu</h1>      
                                </div>
                                <div class="form-group"><p><br></p></div>
                                <div class="form-group">
                                        <button type="button" class="btn btn-info" ><a routerLink="/sales-orders" >Process Sales Orders</a></button>
                                </div>
                                <div class="form-group">
                                        <button type="button" class="btn bgray" ><a routerLink="/auth/users" >Manage users</a></button>
                                </div>
                        </div>
                </div>
       
</div>
