<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">POG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav navbar-right">
            <ng-template [ngIf]="!(authState | async).authenticated">
              <li><a routerLink="/auth/signin" class="link">Log in </a></li>
            </ng-template>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <ng-template [ngIf]="(authState | async).authenticated">
                <li><img class="user" src="{{(authState | async).image}}"></li>
            </ng-template>
            
            <li><span class="link" *ngIf="(authState | async).authenticated" (click)="onLogout()" >Log out </span></li>
      
            <li routerLinkActive="active"><a routerLink="/sales-orders" *ngIf="(authState | async).authenticated" class="link"> Process Orders</a></li>

            <li><span class="link" *ngIf="(authState | async).authenticated" (click)="missingProducts()"> Missing Products </span></li>
              
            <li class="dropdown link" appDropdown *ngIf="(authState | async).authenticated">
              <a style="cursor: pointer;" class="dropdown-toggle link" role="button">User <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" class="link" routerLink="/auth/users">Manage</a></li>
              </ul>
            </li>

            <li *ngIf="message">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close link" data-dismiss="alert" aria-label="Close" (click)="dismiss()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </li>
	         </ul>
        </div>
</nav>