
  
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <app-sales-orders-filter></app-sales-orders-filter>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-sales-orders-list></app-sales-orders-list>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <app-sales-orders-process></app-sales-orders-process>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <app-purchase-orders></app-purchase-orders>
                <router-outlet name="purchaseordersoutlet"></router-outlet>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <app-purchase-orders-detail></app-purchase-orders-detail>
            </div>
        </div>
