<div class="container container-fluid text-center">

         <div class="row logo">
         	<img src="/assets/img/icons/POG.JPG">
         </div>
<br><br>
                           <div class="row logo">
                                  <div class="col-md-4">
                                      Login via
                                      <div class="social-buttons btn-fb">
                                          <a class="btn btn-fb" (click)="socialSignIn()"><i class="fa fa-google"></i> Google</a>
                                      </div>
<br><br>
                                      <div class="bottom text-center">
                                            New here ? <a href="#"><b>Check tutorial</b></a>
                                        </div>
                                  </div>


                           </div>



    </div>
