<ng-template [ngIf]="(order)">
<div class="container container-fluid">
  <span>CRM: <b>{{order.folio_c}}</b></span>
  <div *ngIf="success" #alert class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><i class="fa fa-2x fa-thumbs-up"></i></strong> {{success}}
  </div>
  <div class="row scrollable">
    <div class="row">
      <div class="col-md-12" >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Customer</th>
              <th scope="col">Promise date</th>
              <th scope="col">Subject</th>
              <th scope="col">Agent</th>
              <th scope="col">Mod. date</th>
              <th scope="col">Cred</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ order.account_name }}</td>
              <td>{{ order.fecha_promesa_entrega_c }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.assigned_user_name }}</td>
              <td>{{ order.date_modified }}</td>
              <td>{{ order.credit }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
        <!-- <table class="table table-striped" [dndList]
        [dndPlaceholder]="placeholder"
        [dndModel]="order.lineItems">-->
        <form (ngSubmit)="onSubmit()" #f="ngForm">
        <table class="table table-striped" *ngIf="order.lineItems && order.lineItems.length > 0">
          <thead>
            <tr>
              <th scope="col"><input class="chk" type="checkbox" (click)="selectAllChecks(f)" [(ngModel)]="order.selectedAll" name="chkAll"></th>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Description</th>
              <th scope="col">Comments</th>
              <th scope="col">Cost</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody >
            <!--<tr *ngFor="let item of order.lineItems" [dndType]="'lineItem'"
            [dndDraggable]
            (dndMoved)="removeItem(item, order.lineItems)"
            [dndObject]="item">
              <td>{{ item.quantity }}</td>
              <td>{{ item.model }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.comments }}</td>
              <td>{{ item.cost }}</td>
            </tr>-->
            <tr *ngFor="let item of order.lineItems; let idx = index" >
              <td><input class="chk" type="checkbox" [(ngModel)]="item.lineSelected" name="selected-{{idx}}" #name="ngModel" (click)="updateList(idx, item)"></td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.model }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.comments }}</td>
              <td>{{ item.cost | currency }}</td>
              <td>{{ item.cost * item.quantity | currency }}</td>
            </tr>
            <tr>
              <td colspan="7" class="bg-info text-right"><h4> Total: {{ order.subtotal | currency }}</h4></td>
            </tr>
          </tbody>
        </table>
        
        <div class="btn-group" role="group" aria-label="Process Sales Order">
            <button *ngIf="order.lineItems && order.lineItems.length > 0" type="submit" class="btn btn-primary" [disabled]="btnDisabled"><i class="fa fa-arrow-down"></i> Process</button>
            <button *ngIf="order.lineItems && order.lineItems.length > 0" type="button" (click)="masrkAsProcessed()" class="btn btn-secondary" [disabled]="btnMarkDisabled"><i class="fa fa-arrow-down"></i> Mark as processed</button>
        </div>
        
        </form>
      </div>
    </div>
  </div>
</div>
</ng-template>

<div class="dndPlaceholder col-md-12"
  #placeholder></div>